@model List<Category>

@{
    Layout = "_LayoutAdmin";
}

<div class="col-12">
    <div class="bg-card rounded h-100 p-4">
        <h6 class="mb-4">Categories</h6>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model)
                {
                    <tr>
                        <td scope="row">@c.Id</td>
                        <td>@c.Name</td>
                        <td>
                            <span>
                                <a class="btn btn-primary btn-link" href="@Url.Action("EditCategory","Home",new {c.Id})">Edit</a>
                                <a class="btn btn-primary btn-link" href="@Url.Action("DeleteCategory","Home",new {c.Id})">Delete</a>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>