@model List<Tag>

@{
    Layout = "_LayoutAdmin";
}


<div class="col-12">
    <div class="bg-card rounded h-100 p-4">
        <h6 class="mb-4">Tags</h6>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model)
                {
                    <tr>
                        <td scope="row">@t.Id</td>
                        <td>@t.Name</td>
                        <td>
                            <span>
                                <a class="btn btn-primary btn-link" href="@Url.Action("EditTag","Home",new {t.Id})">Edit</a>
                                <a class="btn btn-primary btn-link" href="@Url.Action("DeleteTag","Home",new {t.Id})">Delete</a>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
